:root {
    --silver: #bdc3c7;
    --light-white: #FAFAFA;
    --white: #FFFFFF;
    --black: #000000;

    --bg-color: var(--light-white);
    --bodu-color: var(--white);
    --text-color: var(--black);

}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HELPER */
.clear-fix {
    clear: both;
}

body{
    background-color: var(--bg-color);
}

/* NAV */
header { 
    margin: 0 30px; 
}

header > nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--silver);
}

header > nav:first-child {
    padding: 20px 0;
}

header > nav {
    padding: 10px 0;
}

header > nav > ul {
    float: left;
    list-style: none;
    display: flex;
    align-items: center;
}

header > nav > ul:last-of-type {
    float: right;
}

header > nav > ul > li {
    float: left;
    margin-right: 10px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: var(--text-color);
}

header > nav > ul > li > a:hover {

}

/* ASIDE */
aside,
main {
    float: left;
}

aside {
    width: 30%;
}

/* MAIN */
main {
    width: 70%;
}

article,
section {
    float: left;
}

article {
    width: 70%;
}

section {
    width: 30%;
}
